@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@600&display=swap');

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: 'Ysabeau SC', sans-serif;
	background-color: #e1fff6;
}

h1 {
	text-align: center;
	margin-bottom: 0px;
	font-size: 46px;
	letter-spacing: 10px;
	margin-top: 25px;
}

h3 {
	text-align: center;
	margin-bottom: 15px;
	font-size: 20px;
	letter-spacing: 6px;
	margin-top: 5px;
}

/* Loader */
.loader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 230, 0.8);
}

.loader img {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
	margin: 15px 30%;
	position: absolute;
}

.image-container img {
	width: 100%;
	margin-top: 15px;
	box-shadow: rgba(255, 0, 0, 0.16) 0px 3px 6px,
		rgba(215, 0, 0, 0.23) 0px 3px 6px;
	border-radius: 12px;
	position: relative;
	transition-duration: 400ms;
	
}

.dota{
	transition-duration: 400ms;
}

p{
color: transparent;
position:absolute;
z-index: 3;
top: 270px;
left:20px;
padding:0 12px;
height: full;
transition-duration:500ms ;

}

.dota:hover .descr {
	color: white;
	

}
.dota:hover{
opacity: 0.7;
transform: scale(1.03);
}


/* Media Query: Large smartphones */
@media screen and (max-width: 600px) {
	h1 {
		font-size: 23px;
	}

	h3 {
		font-size: 10px;
	}

	.image-container {
		margin: 14px;
	}
}
